filebeat.inputs:
- type: log
  enabled: true
  paths:
      - /var/log/nginx/*-access.log
  fields:
    type: nginx_access
  fields_under_root: true
  scan_frequency: 5s

- type: log
  enabled: true
  paths:
      - /var/log/nginx/*-error.log
  fields:
    type: nginx_error
  fields_under_root: true
  scan_frequency: 5s

{% if ansible_distribution == "CentOS" %}
#output.elasticsearch:
#  hosts: ["http://instance-1:9200"]
setup.kibana:
  host: "http://instance-3:5601"
{% else %}
#output.elasticsearch:
#  hosts: ["http://instance-2:9200"]
setup.kibana:
  host: "http://instance-4:5601"
{% endif %}

filebeat.config.modules.path: ${path.config}/modules.d/*.yml