{% if ansible_distribution == "CentOS" %}
output.centos:
  hosts: ["http://{{ hostvars['el-centos']['ansible_facts']['default_ipv4']['address'] }}:9200"]
setup.centos:
  host: "http://{{ hostvars['k-centos']['ansible_facts']['default_ipv4']['address'] }}:5601"
{% else %}
output.ubuntu:
  hosts: ["http://{{ hostvars['el-ubuntu']['ansible_facts']['default_ipv4']['address'] }}:9200"]
setup.ubuntu:
  host: "http://{{ hostvars['k-ubuntu']['ansible_facts']['default_ipv4']['address'] }}:5601"
{% endif %}

filebeat.config.modules.path: ${path.config}/modules.d/*.yml